body {
    text-align: center;
    background-color: black;
    color: aqua;
}

.movie-listing {
    border: 4px solid red;
    border-radius: 10px;
    color: aquamarine;
    height: 240px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    text-align: left;
    padding: 20px;
}

.movie-listing-detailed {
    height: 360px;
}

.text-container {
    /* width: 50%; */
    float: left;
}

.movie-text-details {
    /* width: 50%; */
    float: left;
}

.title {
    font-weight: 900;
    /* font-size: 24px; */
    /* color: blue; */
    /* width: 50%; */
    /* margin-right: 0;
    padding-right: 0;
    margin: 0; */
}

.released {
    font-weight: bold;
    /* width: 50%; */
    /* margin-right: 0;
    padding-right: 0;
    margin: 0; */
}

.tagline {
    font-style: italic;
    /* width: 50%; */
    /* margin-right: 0;
    padding-right: 0;
    margin: 0; */
}

/* h3 p {
    margin-right: 0;
} */

.photo {
    border: 4px solid red;
    height: 160px;
    width: 160px;
    float: right;
    border-radius: 10px;
    /* margin: 0;
    padding: 0; */
}

.movie-photo-details {
    border: 4px solid red;
    height: 350px;
    width: 280px;
    float: right;
    border-radius: 10px;
    /* margin: 0;
    padding: 0; */
}

.details {
    color: yellow;
    border: 4px solid yellow;
    font-weight: bold;
    border-radius: 3px;
    padding: 4px;
}

.details:hover {
    background-color: yellow;
    color: black;
    /* border: 6px solid yellow; */
}