input {
    length: 60px;
    width: 40px
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.entries {
    text-align: center;
    height: 30px;
    width: 120px
}